$white: #fff;
$black: #000;
$font-family-base: 'montserrat';

/* Font size h1 */
$font-size-h1: 65px;
$line-height-h1: 85px;

/* Font size h2 */
$font-size-h2: 35px;
$line-height-h2: 35px;

/* Font Weights */
$font-weight-bold: 700;
$font-weight-light: 300;
