body {
  font-family: $font-family-base;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-light;
}
